 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
    font-size: Arial, sans-serif;
    line-height: 1.6;
 }
header {
    background: #333;
    color: white;
    padding: 1em;
}
img {
    border-radius: 50px;
    position: left;
}
nav {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration:none ;
    color: white;
}

section {
    margin: 2em;
}

h2 {
    margin-bottom: 1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    margin-bottom: 1em;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 0.5em;
    display: block;
}

.skill-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.skill-level {
    height: 100%;
    background-color: #4caf50;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
