/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
/* tarhet the header here */
header {
    background-color: #333;
    color: white;
    padding: 1em;
}
/* target the nav and its ul here  */
nav ul {
    list-style: none;
    display: flex;
}
/* target the nav and its adjusent sibling selector  here li  */
nav li {
    margin-right: 20px;
}
/* target the nav and its ancor tag  here  */
nav a {
    text-decoration: none;
    color: white;
}

section {
    margin: 2em;
}

h2 {
    margin-bottom: 1em;
}
/* footer code goes here */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}


.skills-list {
    list-style: none;
    padding: 0;
}
/* target skill list li here */
.skills-list li {
    margin-bottom: 1em;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 0.5em;
    display: block;
}
/* skill bar level here  */
.skill-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}
/* skill level code here */
.skill-level {
    height: 100%;
    background-color: #4caf50;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
